/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #f9f9f9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/* ここからCSSを書いていきましょう */
footer{
  background-color:#e0e0e0;
  color:#404040;
  width:100%;
  letter-spacing: 2px;
  height:50px;
  display: block;
  margin-top: 150px;
}

.footer-left{
  line-height: 50px;
  float: left;
  margin:0px 20px 0px 15px;
  font-size: 18px;
  display: block;
}

.fa-rocket{
  color: black;
}

.footer-btn{
  display: flex;
  background-color:#e0e0e0;
}

.fbtn{
  font-size: 12px;
  display: block;
  line-height: 40px;
  padding: 5px 20px

}

.logo{
  float: right;
  display: inline-block;
  line-height: 35px;
  width:50px;
  text-align: center;
  padding-top: 10px;
}

.logo:hover{
  background-color: white;
  transition: all 0.5s;
}

.insta{
  color: orange;

}

.twi{
  color: deepskyblue;
}
