
.clear{
  clear: left;
}

@media(max-width:1400px ){
  .contents-cover{
    width:33.33333333333%;
  }
}

@media (max-width:950px){
  .top{
    float:left;
    width: 100%;
  }
  .contents-cover{
    width:50%;
  }
  .tbtn{
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    width:25%

  }
  .fbtn{
    font-size: 20px;
  }
}

@media (max-width:670px) {
  .contents-cover{
    flex-direction:column;
    width:100%;
  }
  .tbtn{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width:50%;
  }
  .fbtn{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width:100%;
  }
  .Searchーbox{
   float: none;
    width: 100px;
  }
  .top{
    flex-wrap: wrap;
  }
  .footer-btn{
    flex-direction: column
  }
  .contents-wrapper {
    margin-top: 120px;
  }
}
